services:
  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    container_name: telegram-bot-api
    environment:
      TELEGRAM_API_ID: ${TELEGRAM_API_ID}
      TELEGRAM_API_HASH: ${TELEGRAM_API_HASH}
      TELEGRAM_LOCAL: "true"
    volumes:
      - /var/lib/telegram-bot-api:/var/lib/telegram-bot-api
    ports:
      - 8081:8081
    restart: unless-stopped
