[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
"ruamel.yaml" = "*"
backoff = "*"
argparse = "*"
pyyaml = "*"
python-telegram-bot = "*"
asyncio = "*"
tiktoken = "*"
toml = "*"

[dev-packages]
pycodestyle = "*"
pytest = "*"

[requires]
python_version = "3.10"
