[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
"ruamel.yaml" = "*"
backoff = "*"
argparse = "*"
pyyaml = "*"
pytest-mock = "*"
python-telegram-bot = "*"
asyncio = "*"

[dev-packages]
pycodestyle = "*"
pytest = "*"
pyfakefs = "*"

[requires]
python_version = "3.10"
