[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
app = "python app.py"
test = "pytest"

[packages]
argparse = "*"
asyncio = "*"
openai = "*"
pytz = "*"
pyyaml = "*"
python-telegram-bot = "*"
"ruamel.yaml" = "*"
toml = "*"
jinja2 = "*"
httpx = "*"
pdfplumber = "*"
backoff = "*"
rapidfuzz = "*"

[dev-packages]
autoflake = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
hupper = "*"
isort = "*"
pre-commit = "*"
pycodestyle = "*"
pytest = "*"
pytest-asyncio = "*"
pyfakefs = "*"
pytest-httpx = "*"
pytest-cov = "*"
flake8-pyproject = "*"

[requires]
python_version = "3.12"
