---
- role: system
  content:
    - type: text
      text: |-
        {{ system_prompt | indent(8) }}
      {% if 'claude' in model %}
      cache_control:
        type: ephemeral
        ttl: 1h
      {% endif %}
{% for message in messages %}
- role: {{ message.role }}
  content:
    {% if message.image %}
    - type: image_url
      image_url:
        url: data:image/jpeg;base64,{{ load_base64(message.image) }}
        detail: low
    {% endif %}
    - type: text
      text: |-
        {{ message.content | indent(8) }}
      {% if 'claude' in model %}
      {% set offset = messages|length - loop.index %}
      {% if offset in [0, 1, 3] %}
      cache_control:
        type: ephemeral
        ttl: 1h
      {% endif %}
      {% endif %}
{% endfor %}
{% if reinforcement_prompt %}
- role: user
  content:
    - type: text
      text: |-
        {{ reinforcement_prompt | indent(8) }}
{% endif %}
