---
- role: system
  content:
    - type: text
      text: |-
        {{ chat_prompt | indent(8) }}
      {% if 'claude' in model %}
      cache_control:
        type: ephemeral
        ttl: 1h
      {% endif %}
{% for message in messages %}
- role: {{ message.role }}
  content:
    {% if message.image_url %}
    - type: image_url
      image_url:
        url: {{ message.image_url }}
        detail: low
    {% endif %}
    - type: text
      text: |-
        {{ message.content | indent(8) }}
      {% if loop.index > (messages|length - 2) %}
      {% if 'claude' in model %}
      cache_control:
        type: ephemeral
        ttl: 1h
      {% endif %}
      {% endif %}
{% endfor %}
{% if reinforcement_chat_prompt %}
- role: user
  content:
    - type: text
      text: |-
        {{ reinforcement_chat_prompt | indent(8) }}
{% endif %}
